In [ ]:
#Pandas練習

In [1]:
import pandas as pd

In [2]:
## 讓pd讀檔
a = pd.read_csv("兵役績優學校.csv",encoding = "Big5")
a.head() #test

    年度  編號                獲獎學校
0  110   1      吳鳳學校財團法人吳鳳科技大學
1  110   2  台南家專學校財團法人台南應用科技大學
2  110   3            國立高雄科技大學
3  110   4      淡江大學學校財團法人淡江大學
4  110   5                銘傳大學